<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Show</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="text-right">
                        <a href="/shows">Go Back</a>
                    </div>
                    
                    <h1>Add a New Show</h1>
                    <form class="card-body" action="/shows/{{show.id}}/edit" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                          <label>Title</label>
                          <input type="text" class="form-control" name="title" value="{{show.title}}">
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label>Network</label>
                            <input type="text" class="form-control" name="network" value="{{show.network}}">
                          </div>
                          <div class="form-group col-md-2">
                            <label>Release Date</label>
                            <input type="date" class="form-control" name="release_date" value="{{show.release_date}}">
                          </div>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea type="tex" class="form-control" name="desc" rows="3">{{show.desc}}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                      </form>
                      <a href="/shows_desc/{{show.id}}">Go to Show</a>
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>